exportPattern("^[[:alpha:]]+")
importFrom("stats", "setNames")
importFrom("httr", "GET", "content")
importFrom("xml2", "read_html")
importFrom("rvest", "html_nodes", "html_text")
importFrom("glue", "glue")
importFrom("jsonlite", "fromJSON")
importFrom("stringr", "str_detect")
importFrom("dplyr", "select", "filter", "mutate", "left_join")
importFrom("tidyr", "separate")
importFrom("tibble", "as_tibble")
importFrom("magrittr", "%>%")
importFrom("data.table", ":=", "setkeyv")
